
.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  padding-top: 0;
  padding-bottom: 70px;
  background-color: var(--clr-surface-a0);
}

h1 {
  margin: 0 0 16px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  align-items: start;
}

.card {
  background: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a10);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 24px;
  overflow-x: auto;
  min-width: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
  background: var(--clr-surface-a10);
}

th, td {
  padding: 18px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

th {
  color: var(--clr-primary-a0)
}

tr:last-child td {
  border-bottom: none;
}

.top-nav {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;;
  margin: 0 0 100px 0;
  border-bottom: 1px solid #ddd;
  background-color: var(--clr-surface-a0);
}

.brand {
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary-a0)
}

.logo {
  height: 172px;
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.numbdata {
  text-align: center;
}

footer {
  border-top: 1px solid #ddd;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
